<div class="card border-light bg-transparent m-3 col-12 col-sm-6 col-lg-3 ">
  <%= link_to list_path(list) do %>
    <%= image_tag list.movies.sample.poster_url, class: "card-img" %>
    <p class="card-img-overlay card-title text-center"><%= list.name %></p>
  <% end %>
</div>
