<div class="m-3">
  <h1>Add new list</h1>
  <small class="text-warning">*Not 100% working!!!%</small>
  <p><%= link_to "back to all lists", lists_path, class: "btn btn-info" %></p>
  <%= render 'shared/lists/form' %>
</div>
