<div class="m-3">
  <h1>Add new list</h1>
  <p><%= link_to "back to all lists", lists_path, class: "btn btn-info" %></p>
  <small class="text-warning">*Not 100% working!!!</small>
  <div class="m-5"><%= render 'shared/lists/form' %></div>
</div>
