<div class="m-3 d-flex align-items-center">
  <h1 class="me-5"><%= @list.name %></h1>
  <p><%= link_to "back to all lists", lists_path, class: "btn btn-info" %></p>
</div>

<div class="me-3 ms-3">
  <% @list.movies.each do |movie| %>
    <%= render 'shared/movies/card-lewagon', movie: movie %>
  <% end %>
</div>
