<div class="container">
  <h1>Add new movie to <em><%= @list ? @list.name.capitalize : "list" %></em></h1>
  <p><%= link_to "back to all lists", lists_path, class: "btn btn-info" %></p>
  <%= render 'shared/bookmarks/form' %>
</div>
