// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "card-lewagon";

.star {
  color: $yellow;
}

.sticky-list-navbar {
  top: 70px;
  position: sticky;
  background-color: #F4F4F4;
  z-index: 1;
}
