.navbar {
  justify-content: space-between;
  background: $orange;
  padding: 16px;
  margin-bottom: 8px;

  a {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $black;
    }
  }
}
